# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
lib64/
bin/
include/
share/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Database
*.db
*.sqlite3
*.sql

# Static files
static/

# Configuration files
config.py
config.ini

# Environment variables
.env

# Miscellaneous
*.swp
.DS_Store
Thumbs.db
